body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  margin: 0px;
}

.header,
.one,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

a {
  text-decoration: none;
  color: #f9faf8;
}
